@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
html{
  zoom: 67%;
}

body {
  background: #fff;
  
  margin: 0px;
 
}


.nav{
  justify-content: center;
  justify-items: center;
  display: block;
  justify-self: center;
}

li, a {
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #0095cf;
  text-decoration: none;

}


header {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0px 5%;

}
.list_lk {
  list-style: none;
  

}

.list_lk li {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 5px;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
 
  
  
}
.list_lk li a {
  transition: all 0.4s ease 0s;
  font-size: 20px;
  }


.list_lk li a:hover {
  color: #ffa600;
  }

 
  
  
  
  
  
  ul {
    list-style-type: none;
  
    overflow: hidden;
    margin-top: -2.5em;
    

  }
  
  li {
    float: right;
   
  }
  
  li a {
    
    color: rgb(255, 255, 255);
    
    
    text-decoration: none;
    
  }
  
  















.Rudy {
  width: 5%;
  margin-top: 4em;
}

.bigban{
  background-image: url('/Images/wedcam2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}



.edit{
  width: 100%;
  
}

.before{
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.hym{
  
  text-align: center;
  color: white;
  font-size: 50px;
 

}

.after{
  position: absolute;
  top: 50%;
  right: 46%;
  transform: translate(-50%, -50%);
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.Hello {
  font-size: 155px;
  font-family:  Helvetica, sans-serif;
  display: inline;
}

.orange{
  color: orange;
}
.rr {
  left: 95%;
  text-align: center;
}



.dropdown{
  padding-top: -15px ;
  padding-left: 9px;
}

.ig {
  right: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  align-self: center;
  align-content: center;
  text-align: center;

 }

 .D {
   font-size: 400px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .subt{
   font-size: 200px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .intro {
   font-size: 20px;
 }
